
<div *ngIf="conjugatedVerbDefinition">
    <h2><span jhiTranslate="doushiApp.conjugatedVerbDefinition.detail.title">Conjugated Verb Definition</span> {{conjugatedVerbDefinition.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="doushiApp.conjugatedVerbDefinition.definition">Definition</span></dt>
        <dd>
            <span>{{conjugatedVerbDefinition.definition}}</span>
        </dd>
        <dt><span jhiTranslate="doushiApp.conjugatedVerbDefinition.conjugatedVerb">Conjugated Verb</span></dt>
        <dd>
            <div *ngIf="conjugatedVerbDefinition.conjugatedVerb">
                <a [routerLink]="['/conjugated-verb', conjugatedVerbDefinition.conjugatedVerb?.id]">{{conjugatedVerbDefinition.conjugatedVerb?.japanese}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'conjugated-verb-definition/'+ conjugatedVerbDefinition.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
