<div>
    <h2>
        <span jhiTranslate="doushiApp.verb.home.title">Verbs</span>
        <button class="btn btn-primary float-right jh-create-entity create-verb" [routerLink]="['/', { outlets: { popup: ['verb-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="doushiApp.verb.home.createLabel">
            Create new Verb
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="verbs">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="type"><span jhiTranslate="doushiApp.verb.type">Type</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="definition"><span jhiTranslate="doushiApp.verb.definition">Definition</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="jlptLevel"><span jhiTranslate="doushiApp.verb.jlptLevel">Jlpt Level</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="gradeLevel"><span jhiTranslate="doushiApp.verb.gradeLevel">Grade Level</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="ending"><span jhiTranslate="doushiApp.verb.ending">Ending</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="kanjiText"><span jhiTranslate="doushiApp.verb.kanjiText">Kanji Text</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="romanjiText"><span jhiTranslate="doushiApp.verb.romanjiText">Romanji Text</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let verb of verbs ;trackBy: trackId">
                <td><a [routerLink]="['../verb', verb.id ]">{{verb.id}}</a></td>
                <td jhiTranslate="{{'doushiApp.VerbType.' + verb.type}}">{{verb.type}}</td>
                <td>{{verb.definition}}</td>
                <td jhiTranslate="{{'doushiApp.JlptLevel.' + verb.jlptLevel}}">{{verb.jlptLevel}}</td>
                <td>{{verb.gradeLevel}}</td>
                <td jhiTranslate="{{'doushiApp.VerbEnding.' + verb.ending}}">{{verb.ending}}</td>
                <td>{{verb.kanjiText}}</td>
                <td>{{verb.romanjiText}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../verb', verb.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'verb/'+ verb.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'verb/'+ verb.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
