<div>
    <h2>
        <span jhiTranslate="doushiApp.studySheet.home.title">Study</span>
    </h2>
    <span jhiTranslate="doushiApp.studySheet.filter">Filter (by prefix)</span> <input type="text" [(ngModel)]="filter" class="form-control">
    
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="verbs">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="type"><span jhiTranslate="doushiApp.studySheet.type">Type</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="definition"><span jhiTranslate="doushiApp.studySheet.definition">Definition</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="jlptLevel"><span jhiTranslate="doushiApp.studySheet.jlptLevel">Jlpt Level</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="ending"><span jhiTranslate="doushiApp.studySheet.ending">Ending</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="kanjiText"><span jhiTranslate="doushiApp.studySheet.kanjiText">Kanji Text</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="romanjiText"><span jhiTranslate="doushiApp.studySheet.romanjiText">Romanji Text</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let verb of (verbs | pureFilter:filter:'searchText' )  ;trackBy: trackId">
                <td jhiTranslate="{{'doushiApp.VerbType.' + verb.type}}">{{verb.type}}</td>
                <td>{{verb.definition}}</td>
                <td jhiTranslate="{{'doushiApp.JlptLevel.' + verb.jlptLevel}}">{{verb.jlptLevel}}</td>
                <td jhiTranslate="{{'doushiApp.VerbEnding.' + verb.ending}}">{{verb.ending}}</td>
                <td>{{verb.kanjiText}}</td>
                <td>{{verb.romanjiText}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../study-sheet', verb.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
