<div>
    <h2>
        <span jhiTranslate="doushiApp.lesson.home.title">Verb Lessons</span>
    </h2>
    
    <div *ngIf="nothingMoreToStudy" class="card">
        <div class="card-body">
            <h5 class="card-title" jhiTranslate="doushiApp.lesson.nothingMore">No more lessons right now</h5>
            <div class="card-text" jhiTranslate="doushiApp.lesson.nothingMoreDetails"></div>
        </div>
    </div>
    <div *ngIf="verb" class="card">
        <div class="card-body">
            <h5 class="card-title">{{verb.kanjiText}}
                {{verb.definition}}</h5>
            <div class="card-text">
                <p jhiTranslate="doushiApp.lesson.instructions" translateValues="{verbName: '{{verb.kanjiText}}', romanjiText: '{{verb.romanjiText}}'}"></p>
                
                <form name="quizForm" role="form" novalidate #quizForm="ngForm">
	                <div class="form-group">
			            <label class="form-control-label" jhiTranslate="doushiApp.verb.answer" for="field_answer">Answer</label>
			            <input autofocus #inputFocus type="text" class="form-control" name="answer" id="field_answer" autocomplete="off"
			                [(ngModel)]="verb.answer" 
                            [disabled]="correct!==undefined" />
			            <div [hidden]="!(quizForm.controls.answer?.dirty && quizForm.controls.answer?.invalid)">
                            <small class="form-text text-danger"
                               [hidden]="!quizForm.controls.answer?.errors?.required" jhiTranslate="entity.validation.required">
                               This field is required.
                            </small>
                            <small class="form-text text-danger"
                               [hidden]="!quizForm.controls.answer?.errors?.minlength" jhiTranslate="entity.validation.minlength" translateValues="{ min: 2 }">
                               This field is required to be at least 2 characters.
                            </small>
                            <small class="form-text text-danger"
                               [hidden]="!quizForm.controls.answer?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 100 }">
                               This field cannot be longer than 100 characters.
                            </small>
                        </div>
                        <div [hidden]="correct || correct===undefined">
                            <small class="form-text text-danger" jhiTranslate="doushiApp.lesson.incorrect" translateValues="{ answer: '{{verb.kanjiText}}' }">
                               Nope!
                            </small>
                        </div>
                        <div [hidden]="!correct===true">
                            <small class="form-text text-success" jhiTranslate="doushiApp.lesson.correct">
                               Yup!
                            </small>
                        </div>
			        </div>
			        
                    <button type="submit" [hidden]="correct===true" class="btn btn-primary" (click)="check()">
                        <span class="fa fa-check"></span>&nbsp;<span jhiTranslate="doushiApp.lesson.check">Check</span>
                    </button>
                    <button type="submit" [hidden]="correct===undefined" [disabled]="correct===undefined" class="btn btn-primary" (click)="next()">
                        <span class="fa fa-long-arrow-alt-right"></span>&nbsp;<span jhiTranslate="doushiApp.lesson.next">Next</span>
                    </button>
                </form>
                
                <br />
                
                <div class="table-responsive" *ngIf="conjugatedVerbs">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th><span
                                    jhiTranslate="doushiApp.conjugatedVerb.conjugationType">Conjugation
                                        Type</span></th>
                                <th><span jhiTranslate="doushiApp.conjugatedVerb.japanese">Japanese</span></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let conjugatedVerb of conjugatedVerbs ;trackBy: trackId">
                                <td
                                    jhiTranslate="{{'doushiApp.ConjugationType.' + conjugatedVerb.conjugationType}}">{{conjugatedVerb.conjugationType}}</td>
                                <td>{{conjugatedVerb.japanese}}</td>
                                <td class="text-right"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                
            </div>
        </div>
    </div>

</div>
